/* ----------------- main ----------------- */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
}

/* ----------------- time ----------------- */
#time {
  font-size: 18px;
  font-weight: 550;
  margin: 5px 0 15px 0;
}

/* ----------------- board-row ----------------- */
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* ----------------- board-block ----------------- */
.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #d3d6da;
  font-size: 20px;
  font-weight: bold;
}
